html,
body {
  margin: 0;
  font-family: sans-serif;
}
 
.App {
  display: flex;
  height: 100vh;
}
.leftSection{
  flex: 1;
  position: relative;
}
.rightSection{
  width: 300px;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
}
.calculationContainer {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}
.container {
  display: flex;
  gap:10px;
  flex-direction: column;
}